.box {
    margin: auto;
    width: 900px;
    padding-block: 25px;
    background-color: #ffc0cb;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title {
    color: #ff4c50;
    font-size: 40px;
    font-weight: 700;
}
.button {
    
    background-color: #ff0000;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}